.meni {

    background-color: #33cc33;
    height: 200px;
    width: 600px;
    overflow: auto;
    word-wrap: break-word;

}

#igra {
    margin: auto;
    height: 300px;
    width: 500px;
   overflow: auto;
    background-color: rgba(50, 115, 220, 0.3);
        display: flex;
        font-weight: bold;


}


#diler {
    background-color: #05ffb0;
    height: 90px;
    width: 100px;
    margin: auto;

}

#igrac {
    background-color: #05ffb0;
    height: 90px;
    width: 100px;
margin:auto;
 

}


#player {
    display: block;
        margin-top: 2px;
    height: 50px;
    width: 50px;
    border: 1px solid blue;

}

#dealer {
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid blue;

}

.playerValue {
	display: inline-block;
		margin: auto;

background-color: rgb(50, 115, 220);
	   height: 50px;
    width: 50px;
}

.cardvalue

{
	display: inline-block;
	margin: auto;
    height: 50px;
    width: 50px;
    border: 1px solid blue;

}